.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 29px 0;
}

.window {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 30px;
}

.all-pages-container {
  height: 100%;
  display: flex;
  transition: translate;
  transition-property: transform;
  /* transition-duration: 300ms; */
  transition-timing-function: ease-in-out;
}

.arrow {
  cursor: pointer;
}
