@import'./main.scss';
@import'./tamplates.scss';
@import'./colors.scss';


.burger_menu{

}

.burger{
    display: none;
}

    .burger_menu{
        background: $color_background;
        display: none;
        width: 100%;
        max-width: 1200px;
        height: 100%;
        padding: 30px 20px;
        position: fixed;
        z-index: 9999;;
        top: 0;
        left: 0;
        border-radius: 5px;
        z-index: 1000;
        flex-direction: column;
        align-items: center

    }


    .burger_menu_btn{
        cursor: pointer;
    }

    .burger_menu_header{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger_logo{
        width: 165px;
        height: 50px;
    }
    .burger_close{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .burger_menu_link{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
        width: 100%;
            a{
                width: 75%;
                text-align: center;
                font-weight: 400;
                font-size: 20px;
                line-height: 1.5;
                color: $color_white;
                text-decoration: none;
                padding-bottom: 15px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                margin-top: 15px;
            }
    }

    .burger_menu_link a:last-child{
        border-bottom:none;
        padding-bottom: 0;

    }

    .burger_menu_lang,.burger_menu_mail{
        display: flex;
        justify-content: center;

    }

    .burger_menu_mail{
        margin-top: 30px;
    }

    .burger_menu_wallet{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


@media(max-width: 1201px){


    .burger{
        display: block;
    }
    
    .add_display{
        display: flex;
    }

}


@media(max-width: 400px){
    .burger_menu_link {
        padding: 20px 0;
    }
    .burger_menu_link a{
        width: 100%;
        font-size: 18px;
    }
}



