@import'./main.scss';
@import'./tamplates.scss';
@import'./colors.scss';


.faq{
    width: 100%;
}

.faq_btn{
    margin-top: 167px;
    @extend %btn_slider;
}

.faq_answer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 50px;

}

.faq_answer_text{
    width: 450px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: $color_white;
}

.faq_question{
    max-width: 1200px;
    height: 69px;
    background: $color_gray;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 52px;
    margin-top: 20px;
}

.faq_question_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: $color_white;
}

.faq_question_arrow{
    width: 30px;
    height: 25px;
}

.item-value{
    transition: all 0.5 ease-in-out;
    .item-value_shadow{
        transition: all 0.5 ease-in-out;
    }
}

.item-value-content{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    background: #3f4958;
    color: white;
    border-radius: 15px;
    margin-top: -22px;
    padding-top: 20px;
    font-weight: 200;
    font-size: 18px;
    align-items: center;
    
    p{
        width: 80%;
    }
}

.item-value_shadow{
    position: relative;
    box-shadow: 0px 8px 16px rgb(39 45 54 / 73%);
    z-index: 1000;
}

.img-open{
    transform: rotate(90deg)
}


.know_more{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
        img{
            width: 25px;
            height: 25px;

        }
}

.btn_know_more{
    padding: 15px 10px 15px 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    background: transparent;
    p{
        color: $button_color;
    }

}


@media  (max-width:600px){

    .faq_answer_text{
        font-size: 18px;
        width: 60%;
        line-height: 29px;
    }
    
    .faq_question_text{
        font-size: 16px;
    }

    .faq_question{
        padding: 0 20px;
    }

    .contacts_main_text{
        margin-left: 1px;
    }

    .item-value-content{
        padding: 50px 20px 20px 20px ;
        p{
            font-size: 14px;
            width: 100%;
        }
    }

    .faq_btn {
        margin-top: 80px;
    }

    .know_more {
        margin-top: 20px;
    }

}
@media  (max-width:400px){

    .faq_answer_text{
        width: 70%;

    }

    .item-value-content{ 
        p {
        font-size: 12px;
        line-height: 1.1;
    }}
    

    .faq_answer_logo{
        width: 30%;
        display: flex;
        justify-content: flex-end;
        img{
            width: 70%;
        }
    }

}